@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

.nav-link-white {
  color: white;
}

.nav-link-white:hover {
  color: rgba(255, 255, 255, 0.584);
}

.login-button-orange {
  background-color: rgb(255, 89, 0);
  border-color: rgb(255, 89, 0);
  border-radius: 32px;
}

.hero-banner-image {
  height: 80vh;
}
