@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

.navbar-wider {
  height: 15vh;
}

.nav-link-white {
  color: white;
}

.nav-link-white:hover {
  color: rgba(255, 255, 255, 0.584);
}

.login-button-orange {
  background-color: rgb(255, 89, 0);
  border-color: rgb(255, 89, 0);
  border-radius: 32px;
}

.login-button-orange:active {
  background-color: rgb(255, 89, 0) !important;
  border-color: rgb(255, 89, 0) !important;
}

.login-button-orange:hover {
  background-color: rgb(255, 89, 0);
  border-color: rgb(255, 89, 0);
  box-shadow: 0px 0px 3px 2px rgb(255 89 0 / 40%);
}

.hero-banner-image {
  height: 85vh;
}

.button-clear {
  border-radius: 9999px;
  padding: 4px 44px;
  font-size: large;
  background-color: transparent;
  border-color: white;
}

.button-clear:hover {
  background-color: transparent !important;
  border-color: white !important;
  box-shadow: 0px 0px 3px 2px white;
}

.button-clear:active {
  background-color: transparent !important;
  border-color: white !important;
}

.hero-banner-vertical-center {
  padding: 80px 0;
}

.hero-banner-image-filter {
  filter: brightness(50%) contrast(70%) saturate(100%);
}

.text-shoutout {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0px;
}
