@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

.nav-link-white {
  color: white;
}

.nav-link-white:hover {
  color: rgba(255, 255, 255, 0.584);
}

.login-button-orange {
  background-color: rgb(255, 89, 0);
  border-color: rgb(255, 89, 0);
  border-radius: 32px;
}

.hero-banner-image {
  height: 80vh;
}

.button-clear {
  border-radius: 9999px;
  padding: 4px 44px;
  font-size: large;
  background-color: transparent;
  border-color: white;
}

.hero-banner-vertical-center {
  padding: 80px 0;
}

.hero-banner-image-filter {
  filter: brightness(50%) contrast(70%) saturate(100%);
}
